.main {
  display: flex;
  height: 100vh;
}

.nav {
  display: block;
  padding: 50px 15px 50px 25px;
  background-color: #264653;
  color: aliceblue;
  width: 200px;
  min-width: 100px;
  font-size: large;
}

.content {
  background: linear-gradient(#b4c7dc, #81aca6);
  padding: 50px;
  width: 100%;
}

.line {
  display: flex;
  justify-content: space-between;
}

.line :first-child {
  font-weight: bold;
}

.CoDetails {
  width: 65%;
  padding-left: 30px;
  margin-bottom: 30px;
}

.bankName {
  font-size: larger;
  font-weight: bolder;
  padding: 15px;
}

.navLinks div {
  margin-top: 15px;
  cursor: pointer;
}

.serviceLinks div:hover {
  opacity: 0.5;
}

#accDetails:hover {
  opacity: 0.5;
}

#about {
  padding-top: 30px;
}

#about:hover {
  opacity: 0.5;
}

.serviceLinks div {
  padding-left: 15px;
}

#service {
  cursor: default;
}
