.main {
  display: flex;
  height: 100vh;
}

.nav {
  display: block;
  padding: 50px 15px 50px 25px;
  background-color: #264653;
  color: aliceblue;
  width: 200px;
  min-width: 100px;
  font-size: large;
}

.content {
  background: linear-gradient(#b4c7dc, #81aca6);
  padding: 50px;
  width: 100%;
}

.line {
  display: flex;
  justify-content: space-between;
}

.line :first-child {
  font-weight: bold;
}

.CoDetails {
  width: 65%;
  padding-left: 30px;
  margin-bottom: 30px;
}

