.main {
  display: flex;
  height: 100vh;
}

.nav {
  display: block;
  padding: 50px 15px 50px 25px;
  background-color: #264653;
  color: aliceblue;
  width: 200px;
  min-width: 100px;
  font-size: large;
}

.content {
  background: linear-gradient(#b4c7dc, #81aca6);
  padding: 50px;
  width: 100%;
}

.line {
  display: flex;
  justify-content: space-between;
}

.line :first-child {
  font-weight: bold;
}

.CoDetails {
  width: 65%;
  padding-left: 30px;
  margin-bottom: 30px;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header li {
  float: right;
  display: inline;
  list-style-type: none;
  overflow: hidden;
}

.header a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

.header a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.noHover {
  pointer-events: none;
}

.bankName {
  font-size: larger;
  font-weight: bolder;
  padding: 15px;
}

.navLinks div {
  margin-top: 15px;
  cursor: pointer;
}

.serviceLinks div:hover {
  opacity: 0.5;
}

#accDetails:hover {
  opacity: 0.5;
}

#about {
  padding-top: 30px;
}

#about:hover {
  opacity: 0.5;
}

.serviceLinks div {
  padding-left: 15px;
}

#service {
  cursor: default;
}

.transaction {
  margin: 20px;
}

.transaction h2 {
  font-size: 50px;
}

.historyTable {
  width: 100%;
}

.historyTable thead {
  text-align: center;
}

.historyTable tbody td {
  font-size: 22px;
  text-align: center;
  padding-bottom: 8px;
}

.historyTable thead td {
  padding: 15px;
  font-weight: bolder;
  font-size: 24px;
  text-decoration: underline;
}

.transferOK {
  text-decoration: underline;
  color: green;
}

.transferFail {
  text-decoration: underline;
  color: red;
}

.accountNumberHistory {
  display: flex;
  margin: 30px;
  align-items: center;
  font-size: 28px;
}

.accountNumberHistory :first-child {
  padding-right: 40px;
  font-weight: bolder;
}

.transfer-form {
  display: flex;
  flex-direction: column;
}
