.main {
  display: flex;
}

.nav {
  display: block;
  padding: 50px 15px 50px 25px;
  background-color: #264653;
  color: aliceblue;
  width: 200px;
  min-width: 100px;
  font-size: large;
}

.content {
  background: linear-gradient(#b4c7dc, #81aca6);
  padding: 50px;
  width: 100%;
}

.line {
  display: flex;
  justify-content: space-between;
}

.line :first-child {
  font-weight: bold;
}

.CoDetails {
  width: 65%;
  padding-left: 30px;
  margin-bottom: 30px;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header li {
  float: right;
  display: inline;
  list-style-type: none;
  overflow: hidden;
}

.header a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

.header a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.noHover{
  pointer-events: none;
}